HRPortal/Web References/essQueries/essQueries.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:tns="urn:microsoft-dynamics-schemas/codeunit/essQueries" targetNamespace="urn:microsoft-dynamics-schemas/codeunit/essQueries" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <schema elementFormDefault="qualified" targetNamespace="urn:microsoft-dynamics-schemas/codeunit/essQueries" xmlns="http://www.w3.org/2001/XMLSchema">
      <element name="fnGLAccount">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="fnGLAccount_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="fnGetAppraisalApplicationDetails">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="appNo" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="fnGetAppraisalApplicationDetails_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="fnGetAppraisalApplicationListLineManager">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="employeeNumber" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="fnGetAppraisalApplicationListLineManager_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="fnGetAppraisalApplicationListOverviewManager">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="employeeNumber" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="fnGetAppraisalApplicationListOverviewManager_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="fnGetAppraisalApplicationList">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="employeeNumber" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="fnGetAppraisalApplicationList_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="fnGetClaimApplicationDetails">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="appNo" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="fnGetClaimApplicationDetails_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="fnGetDepartments">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="dmValueType" type="int" />
            <element minOccurs="1" maxOccurs="1" name="blocked" type="boolean" />
            <element minOccurs="1" maxOccurs="1" name="gblDmNo" type="int" />
          </sequence>
        </complexType>
      </element>
      <element name="fnGetDepartments_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="fnGetDepotInfo">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="regionCode" type="string" />
            <element minOccurs="1" maxOccurs="1" name="budget" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="fnGetDepotInfo_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="fnGetDimension">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="dimension" type="int" />
          </sequence>
        </complexType>
      </element>
      <element name="fnGetDimension_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="fnGetEmployeeAppraisalBehaviour">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="appNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="categoryLineNo" type="int" />
          </sequence>
        </complexType>
      </element>
      <element name="fnGetEmployeeAppraisalBehaviour_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="fnGetEmployeeAppraisalCompetence">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="appNo" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="fnGetEmployeeAppraisalCompetence_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="fnGetEmployeeAppraisalKPIs">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="appNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="kRALineNo" type="int" />
          </sequence>
        </complexType>
      </element>
      <element name="fnGetEmployeeAppraisalKPIs_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="fnGetEmployeeAppraisalKRAs">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="appNo" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="fnGetEmployeeAppraisalKRAs_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="fnGetEmployees">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="employeeNumber" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="fnGetEmployees_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="fnGetFleetRequisition">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="fnGetFleetRequisition_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="fnGetHrLeaveApplicationDetails">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="appNo" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="fnGetHrLeaveApplicationDetails_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="fnGetHrLeaveApplications">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="employeeNumber" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="fnGetHrLeaveApplications_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="fnGetHrPortalUser">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="empNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="pwd" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="fnGetHrPortalUser_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="fnGetImprestApplications">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="employeeNumber" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="fnGetImprestApplications_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="fnGetImprestLine">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="lineNo" type="int" />
          </sequence>
        </complexType>
      </element>
      <element name="fnGetImprestLine_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="fnGetImprestLines">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="appNo" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="fnGetImprestLines_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="fnGetItems">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="fnGetItems_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="fnGetLeaveApplicationLines">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="appNo" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="fnGetLeaveApplicationLines_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="fnGetLeaveBalances">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="empNumber" type="string" />
            <element minOccurs="1" maxOccurs="1" name="leaveType" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="fnGetLeaveBalances_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="fnGetLeaveCode">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="fnGetLeaveCode_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="fnGetPayrollPeriods">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="fnGetPayrollPeriods_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="fnGetProductCodes">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="fnGetProductCodes_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="fnGetProductDetails">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="productCode" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="fnGetProductDetails_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="fnGetRegionAndBudgetCenters">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="employeeNo" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="fnGetRegionAndBudgetCenters_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="fnGetRelieverDetails">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="fnGetRelieverDetails_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="fnGetSafariApplicationDetails">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="appNo" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="fnGetSafariApplicationDetails_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="fnGetSafariCode">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="employeeNumber" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="fnGetSafariCode_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="fnGetSafariEarnings">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="appNo" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="fnGetSafariEarnings_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="fnGetSafariEntitlements">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="fnGetSafariEntitlements_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="fnGetSafariRequestLines">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="appNo" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="fnGetSafariRequestLines_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="fnGetSafariRequest">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="employeeNumber" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="fnGetSafariRequest_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="fnGetStafClaims">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="employeeNumber" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="fnGetStafClaims_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="fnGetStaffClaimLines">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="appNo" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="fnGetStaffClaimLines_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="fnGetStaffCreditSalesHeaderDetails">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="employeeNo" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="fnGetStaffCreditSalesHeaderDetails_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="fnGetStaffCreditSalesHeader">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="documentNo" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="fnGetStaffCreditSalesHeader_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="fnGetStaffCreditSalesLines">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="documentNo" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="fnGetStaffCreditSalesLines_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="fnGetStoreCode">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="region" type="string" />
            <element minOccurs="1" maxOccurs="1" name="budget" type="string" />
            <element minOccurs="1" maxOccurs="1" name="depotCode" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="fnGetStoreCode_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="fnGetSurrenderLines">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="appNo" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="fnGetSurrenderLines_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="fnGetTowns">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="fnGetTowns_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="fnStoreRequisitionsSingle">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="empNumber" type="string" />
            <element minOccurs="1" maxOccurs="1" name="appNo" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="fnStoreRequisitionsSingle_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="fnStoreRequisitions">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="empNumber" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="fnStoreRequisitions_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
    </schema>
  </types>
  <message name="fnGLAccount">
    <part name="parameters" element="tns:fnGLAccount" />
  </message>
  <message name="fnGLAccount_Result">
    <part name="parameters" element="tns:fnGLAccount_Result" />
  </message>
  <message name="fnGetAppraisalApplicationDetails">
    <part name="parameters" element="tns:fnGetAppraisalApplicationDetails" />
  </message>
  <message name="fnGetAppraisalApplicationDetails_Result">
    <part name="parameters" element="tns:fnGetAppraisalApplicationDetails_Result" />
  </message>
  <message name="fnGetAppraisalApplicationListLineManager">
    <part name="parameters" element="tns:fnGetAppraisalApplicationListLineManager" />
  </message>
  <message name="fnGetAppraisalApplicationListLineManager_Result">
    <part name="parameters" element="tns:fnGetAppraisalApplicationListLineManager_Result" />
  </message>
  <message name="fnGetAppraisalApplicationListOverviewManager">
    <part name="parameters" element="tns:fnGetAppraisalApplicationListOverviewManager" />
  </message>
  <message name="fnGetAppraisalApplicationListOverviewManager_Result">
    <part name="parameters" element="tns:fnGetAppraisalApplicationListOverviewManager_Result" />
  </message>
  <message name="fnGetAppraisalApplicationList">
    <part name="parameters" element="tns:fnGetAppraisalApplicationList" />
  </message>
  <message name="fnGetAppraisalApplicationList_Result">
    <part name="parameters" element="tns:fnGetAppraisalApplicationList_Result" />
  </message>
  <message name="fnGetClaimApplicationDetails">
    <part name="parameters" element="tns:fnGetClaimApplicationDetails" />
  </message>
  <message name="fnGetClaimApplicationDetails_Result">
    <part name="parameters" element="tns:fnGetClaimApplicationDetails_Result" />
  </message>
  <message name="fnGetDepartments">
    <part name="parameters" element="tns:fnGetDepartments" />
  </message>
  <message name="fnGetDepartments_Result">
    <part name="parameters" element="tns:fnGetDepartments_Result" />
  </message>
  <message name="fnGetDepotInfo">
    <part name="parameters" element="tns:fnGetDepotInfo" />
  </message>
  <message name="fnGetDepotInfo_Result">
    <part name="parameters" element="tns:fnGetDepotInfo_Result" />
  </message>
  <message name="fnGetDimension">
    <part name="parameters" element="tns:fnGetDimension" />
  </message>
  <message name="fnGetDimension_Result">
    <part name="parameters" element="tns:fnGetDimension_Result" />
  </message>
  <message name="fnGetEmployeeAppraisalBehaviour">
    <part name="parameters" element="tns:fnGetEmployeeAppraisalBehaviour" />
  </message>
  <message name="fnGetEmployeeAppraisalBehaviour_Result">
    <part name="parameters" element="tns:fnGetEmployeeAppraisalBehaviour_Result" />
  </message>
  <message name="fnGetEmployeeAppraisalCompetence">
    <part name="parameters" element="tns:fnGetEmployeeAppraisalCompetence" />
  </message>
  <message name="fnGetEmployeeAppraisalCompetence_Result">
    <part name="parameters" element="tns:fnGetEmployeeAppraisalCompetence_Result" />
  </message>
  <message name="fnGetEmployeeAppraisalKPIs">
    <part name="parameters" element="tns:fnGetEmployeeAppraisalKPIs" />
  </message>
  <message name="fnGetEmployeeAppraisalKPIs_Result">
    <part name="parameters" element="tns:fnGetEmployeeAppraisalKPIs_Result" />
  </message>
  <message name="fnGetEmployeeAppraisalKRAs">
    <part name="parameters" element="tns:fnGetEmployeeAppraisalKRAs" />
  </message>
  <message name="fnGetEmployeeAppraisalKRAs_Result">
    <part name="parameters" element="tns:fnGetEmployeeAppraisalKRAs_Result" />
  </message>
  <message name="fnGetEmployees">
    <part name="parameters" element="tns:fnGetEmployees" />
  </message>
  <message name="fnGetEmployees_Result">
    <part name="parameters" element="tns:fnGetEmployees_Result" />
  </message>
  <message name="fnGetFleetRequisition">
    <part name="parameters" element="tns:fnGetFleetRequisition" />
  </message>
  <message name="fnGetFleetRequisition_Result">
    <part name="parameters" element="tns:fnGetFleetRequisition_Result" />
  </message>
  <message name="fnGetHrLeaveApplicationDetails">
    <part name="parameters" element="tns:fnGetHrLeaveApplicationDetails" />
  </message>
  <message name="fnGetHrLeaveApplicationDetails_Result">
    <part name="parameters" element="tns:fnGetHrLeaveApplicationDetails_Result" />
  </message>
  <message name="fnGetHrLeaveApplications">
    <part name="parameters" element="tns:fnGetHrLeaveApplications" />
  </message>
  <message name="fnGetHrLeaveApplications_Result">
    <part name="parameters" element="tns:fnGetHrLeaveApplications_Result" />
  </message>
  <message name="fnGetHrPortalUser">
    <part name="parameters" element="tns:fnGetHrPortalUser" />
  </message>
  <message name="fnGetHrPortalUser_Result">
    <part name="parameters" element="tns:fnGetHrPortalUser_Result" />
  </message>
  <message name="fnGetImprestApplications">
    <part name="parameters" element="tns:fnGetImprestApplications" />
  </message>
  <message name="fnGetImprestApplications_Result">
    <part name="parameters" element="tns:fnGetImprestApplications_Result" />
  </message>
  <message name="fnGetImprestLine">
    <part name="parameters" element="tns:fnGetImprestLine" />
  </message>
  <message name="fnGetImprestLine_Result">
    <part name="parameters" element="tns:fnGetImprestLine_Result" />
  </message>
  <message name="fnGetImprestLines">
    <part name="parameters" element="tns:fnGetImprestLines" />
  </message>
  <message name="fnGetImprestLines_Result">
    <part name="parameters" element="tns:fnGetImprestLines_Result" />
  </message>
  <message name="fnGetItems">
    <part name="parameters" element="tns:fnGetItems" />
  </message>
  <message name="fnGetItems_Result">
    <part name="parameters" element="tns:fnGetItems_Result" />
  </message>
  <message name="fnGetLeaveApplicationLines">
    <part name="parameters" element="tns:fnGetLeaveApplicationLines" />
  </message>
  <message name="fnGetLeaveApplicationLines_Result">
    <part name="parameters" element="tns:fnGetLeaveApplicationLines_Result" />
  </message>
  <message name="fnGetLeaveBalances">
    <part name="parameters" element="tns:fnGetLeaveBalances" />
  </message>
  <message name="fnGetLeaveBalances_Result">
    <part name="parameters" element="tns:fnGetLeaveBalances_Result" />
  </message>
  <message name="fnGetLeaveCode">
    <part name="parameters" element="tns:fnGetLeaveCode" />
  </message>
  <message name="fnGetLeaveCode_Result">
    <part name="parameters" element="tns:fnGetLeaveCode_Result" />
  </message>
  <message name="fnGetPayrollPeriods">
    <part name="parameters" element="tns:fnGetPayrollPeriods" />
  </message>
  <message name="fnGetPayrollPeriods_Result">
    <part name="parameters" element="tns:fnGetPayrollPeriods_Result" />
  </message>
  <message name="fnGetProductCodes">
    <part name="parameters" element="tns:fnGetProductCodes" />
  </message>
  <message name="fnGetProductCodes_Result">
    <part name="parameters" element="tns:fnGetProductCodes_Result" />
  </message>
  <message name="fnGetProductDetails">
    <part name="parameters" element="tns:fnGetProductDetails" />
  </message>
  <message name="fnGetProductDetails_Result">
    <part name="parameters" element="tns:fnGetProductDetails_Result" />
  </message>
  <message name="fnGetRegionAndBudgetCenters">
    <part name="parameters" element="tns:fnGetRegionAndBudgetCenters" />
  </message>
  <message name="fnGetRegionAndBudgetCenters_Result">
    <part name="parameters" element="tns:fnGetRegionAndBudgetCenters_Result" />
  </message>
  <message name="fnGetRelieverDetails">
    <part name="parameters" element="tns:fnGetRelieverDetails" />
  </message>
  <message name="fnGetRelieverDetails_Result">
    <part name="parameters" element="tns:fnGetRelieverDetails_Result" />
  </message>
  <message name="fnGetSafariApplicationDetails">
    <part name="parameters" element="tns:fnGetSafariApplicationDetails" />
  </message>
  <message name="fnGetSafariApplicationDetails_Result">
    <part name="parameters" element="tns:fnGetSafariApplicationDetails_Result" />
  </message>
  <message name="fnGetSafariCode">
    <part name="parameters" element="tns:fnGetSafariCode" />
  </message>
  <message name="fnGetSafariCode_Result">
    <part name="parameters" element="tns:fnGetSafariCode_Result" />
  </message>
  <message name="fnGetSafariEarnings">
    <part name="parameters" element="tns:fnGetSafariEarnings" />
  </message>
  <message name="fnGetSafariEarnings_Result">
    <part name="parameters" element="tns:fnGetSafariEarnings_Result" />
  </message>
  <message name="fnGetSafariEntitlements">
    <part name="parameters" element="tns:fnGetSafariEntitlements" />
  </message>
  <message name="fnGetSafariEntitlements_Result">
    <part name="parameters" element="tns:fnGetSafariEntitlements_Result" />
  </message>
  <message name="fnGetSafariRequestLines">
    <part name="parameters" element="tns:fnGetSafariRequestLines" />
  </message>
  <message name="fnGetSafariRequestLines_Result">
    <part name="parameters" element="tns:fnGetSafariRequestLines_Result" />
  </message>
  <message name="fnGetSafariRequest">
    <part name="parameters" element="tns:fnGetSafariRequest" />
  </message>
  <message name="fnGetSafariRequest_Result">
    <part name="parameters" element="tns:fnGetSafariRequest_Result" />
  </message>
  <message name="fnGetStafClaims">
    <part name="parameters" element="tns:fnGetStafClaims" />
  </message>
  <message name="fnGetStafClaims_Result">
    <part name="parameters" element="tns:fnGetStafClaims_Result" />
  </message>
  <message name="fnGetStaffClaimLines">
    <part name="parameters" element="tns:fnGetStaffClaimLines" />
  </message>
  <message name="fnGetStaffClaimLines_Result">
    <part name="parameters" element="tns:fnGetStaffClaimLines_Result" />
  </message>
  <message name="fnGetStaffCreditSalesHeaderDetails">
    <part name="parameters" element="tns:fnGetStaffCreditSalesHeaderDetails" />
  </message>
  <message name="fnGetStaffCreditSalesHeaderDetails_Result">
    <part name="parameters" element="tns:fnGetStaffCreditSalesHeaderDetails_Result" />
  </message>
  <message name="fnGetStaffCreditSalesHeader">
    <part name="parameters" element="tns:fnGetStaffCreditSalesHeader" />
  </message>
  <message name="fnGetStaffCreditSalesHeader_Result">
    <part name="parameters" element="tns:fnGetStaffCreditSalesHeader_Result" />
  </message>
  <message name="fnGetStaffCreditSalesLines">
    <part name="parameters" element="tns:fnGetStaffCreditSalesLines" />
  </message>
  <message name="fnGetStaffCreditSalesLines_Result">
    <part name="parameters" element="tns:fnGetStaffCreditSalesLines_Result" />
  </message>
  <message name="fnGetStoreCode">
    <part name="parameters" element="tns:fnGetStoreCode" />
  </message>
  <message name="fnGetStoreCode_Result">
    <part name="parameters" element="tns:fnGetStoreCode_Result" />
  </message>
  <message name="fnGetSurrenderLines">
    <part name="parameters" element="tns:fnGetSurrenderLines" />
  </message>
  <message name="fnGetSurrenderLines_Result">
    <part name="parameters" element="tns:fnGetSurrenderLines_Result" />
  </message>
  <message name="fnGetTowns">
    <part name="parameters" element="tns:fnGetTowns" />
  </message>
  <message name="fnGetTowns_Result">
    <part name="parameters" element="tns:fnGetTowns_Result" />
  </message>
  <message name="fnStoreRequisitionsSingle">
    <part name="parameters" element="tns:fnStoreRequisitionsSingle" />
  </message>
  <message name="fnStoreRequisitionsSingle_Result">
    <part name="parameters" element="tns:fnStoreRequisitionsSingle_Result" />
  </message>
  <message name="fnStoreRequisitions">
    <part name="parameters" element="tns:fnStoreRequisitions" />
  </message>
  <message name="fnStoreRequisitions_Result">
    <part name="parameters" element="tns:fnStoreRequisitions_Result" />
  </message>
  <portType name="essQueries_Port">
    <operation name="fnGLAccount">
      <input name="fnGLAccount" message="tns:fnGLAccount" />
      <output name="fnGLAccount_Result" message="tns:fnGLAccount_Result" />
    </operation>
    <operation name="fnGetAppraisalApplicationDetails">
      <input name="fnGetAppraisalApplicationDetails" message="tns:fnGetAppraisalApplicationDetails" />
      <output name="fnGetAppraisalApplicationDetails_Result" message="tns:fnGetAppraisalApplicationDetails_Result" />
    </operation>
    <operation name="fnGetAppraisalApplicationListLineManager">
      <input name="fnGetAppraisalApplicationListLineManager" message="tns:fnGetAppraisalApplicationListLineManager" />
      <output name="fnGetAppraisalApplicationListLineManager_Result" message="tns:fnGetAppraisalApplicationListLineManager_Result" />
    </operation>
    <operation name="fnGetAppraisalApplicationListOverviewManager">
      <input name="fnGetAppraisalApplicationListOverviewManager" message="tns:fnGetAppraisalApplicationListOverviewManager" />
      <output name="fnGetAppraisalApplicationListOverviewManager_Result" message="tns:fnGetAppraisalApplicationListOverviewManager_Result" />
    </operation>
    <operation name="fnGetAppraisalApplicationList">
      <input name="fnGetAppraisalApplicationList" message="tns:fnGetAppraisalApplicationList" />
      <output name="fnGetAppraisalApplicationList_Result" message="tns:fnGetAppraisalApplicationList_Result" />
    </operation>
    <operation name="fnGetClaimApplicationDetails">
      <input name="fnGetClaimApplicationDetails" message="tns:fnGetClaimApplicationDetails" />
      <output name="fnGetClaimApplicationDetails_Result" message="tns:fnGetClaimApplicationDetails_Result" />
    </operation>
    <operation name="fnGetDepartments">
      <input name="fnGetDepartments" message="tns:fnGetDepartments" />
      <output name="fnGetDepartments_Result" message="tns:fnGetDepartments_Result" />
    </operation>
    <operation name="fnGetDepotInfo">
      <input name="fnGetDepotInfo" message="tns:fnGetDepotInfo" />
      <output name="fnGetDepotInfo_Result" message="tns:fnGetDepotInfo_Result" />
    </operation>
    <operation name="fnGetDimension">
      <input name="fnGetDimension" message="tns:fnGetDimension" />
      <output name="fnGetDimension_Result" message="tns:fnGetDimension_Result" />
    </operation>
    <operation name="fnGetEmployeeAppraisalBehaviour">
      <input name="fnGetEmployeeAppraisalBehaviour" message="tns:fnGetEmployeeAppraisalBehaviour" />
      <output name="fnGetEmployeeAppraisalBehaviour_Result" message="tns:fnGetEmployeeAppraisalBehaviour_Result" />
    </operation>
    <operation name="fnGetEmployeeAppraisalCompetence">
      <input name="fnGetEmployeeAppraisalCompetence" message="tns:fnGetEmployeeAppraisalCompetence" />
      <output name="fnGetEmployeeAppraisalCompetence_Result" message="tns:fnGetEmployeeAppraisalCompetence_Result" />
    </operation>
    <operation name="fnGetEmployeeAppraisalKPIs">
      <input name="fnGetEmployeeAppraisalKPIs" message="tns:fnGetEmployeeAppraisalKPIs" />
      <output name="fnGetEmployeeAppraisalKPIs_Result" message="tns:fnGetEmployeeAppraisalKPIs_Result" />
    </operation>
    <operation name="fnGetEmployeeAppraisalKRAs">
      <input name="fnGetEmployeeAppraisalKRAs" message="tns:fnGetEmployeeAppraisalKRAs" />
      <output name="fnGetEmployeeAppraisalKRAs_Result" message="tns:fnGetEmployeeAppraisalKRAs_Result" />
    </operation>
    <operation name="fnGetEmployees">
      <input name="fnGetEmployees" message="tns:fnGetEmployees" />
      <output name="fnGetEmployees_Result" message="tns:fnGetEmployees_Result" />
    </operation>
    <operation name="fnGetFleetRequisition">
      <input name="fnGetFleetRequisition" message="tns:fnGetFleetRequisition" />
      <output name="fnGetFleetRequisition_Result" message="tns:fnGetFleetRequisition_Result" />
    </operation>
    <operation name="fnGetHrLeaveApplicationDetails">
      <input name="fnGetHrLeaveApplicationDetails" message="tns:fnGetHrLeaveApplicationDetails" />
      <output name="fnGetHrLeaveApplicationDetails_Result" message="tns:fnGetHrLeaveApplicationDetails_Result" />
    </operation>
    <operation name="fnGetHrLeaveApplications">
      <input name="fnGetHrLeaveApplications" message="tns:fnGetHrLeaveApplications" />
      <output name="fnGetHrLeaveApplications_Result" message="tns:fnGetHrLeaveApplications_Result" />
    </operation>
    <operation name="fnGetHrPortalUser">
      <input name="fnGetHrPortalUser" message="tns:fnGetHrPortalUser" />
      <output name="fnGetHrPortalUser_Result" message="tns:fnGetHrPortalUser_Result" />
    </operation>
    <operation name="fnGetImprestApplications">
      <input name="fnGetImprestApplications" message="tns:fnGetImprestApplications" />
      <output name="fnGetImprestApplications_Result" message="tns:fnGetImprestApplications_Result" />
    </operation>
    <operation name="fnGetImprestLine">
      <input name="fnGetImprestLine" message="tns:fnGetImprestLine" />
      <output name="fnGetImprestLine_Result" message="tns:fnGetImprestLine_Result" />
    </operation>
    <operation name="fnGetImprestLines">
      <input name="fnGetImprestLines" message="tns:fnGetImprestLines" />
      <output name="fnGetImprestLines_Result" message="tns:fnGetImprestLines_Result" />
    </operation>
    <operation name="fnGetItems">
      <input name="fnGetItems" message="tns:fnGetItems" />
      <output name="fnGetItems_Result" message="tns:fnGetItems_Result" />
    </operation>
    <operation name="fnGetLeaveApplicationLines">
      <input name="fnGetLeaveApplicationLines" message="tns:fnGetLeaveApplicationLines" />
      <output name="fnGetLeaveApplicationLines_Result" message="tns:fnGetLeaveApplicationLines_Result" />
    </operation>
    <operation name="fnGetLeaveBalances">
      <input name="fnGetLeaveBalances" message="tns:fnGetLeaveBalances" />
      <output name="fnGetLeaveBalances_Result" message="tns:fnGetLeaveBalances_Result" />
    </operation>
    <operation name="fnGetLeaveCode">
      <input name="fnGetLeaveCode" message="tns:fnGetLeaveCode" />
      <output name="fnGetLeaveCode_Result" message="tns:fnGetLeaveCode_Result" />
    </operation>
    <operation name="fnGetPayrollPeriods">
      <input name="fnGetPayrollPeriods" message="tns:fnGetPayrollPeriods" />
      <output name="fnGetPayrollPeriods_Result" message="tns:fnGetPayrollPeriods_Result" />
    </operation>
    <operation name="fnGetProductCodes">
      <input name="fnGetProductCodes" message="tns:fnGetProductCodes" />
      <output name="fnGetProductCodes_Result" message="tns:fnGetProductCodes_Result" />
    </operation>
    <operation name="fnGetProductDetails">
      <input name="fnGetProductDetails" message="tns:fnGetProductDetails" />
      <output name="fnGetProductDetails_Result" message="tns:fnGetProductDetails_Result" />
    </operation>
    <operation name="fnGetRegionAndBudgetCenters">
      <input name="fnGetRegionAndBudgetCenters" message="tns:fnGetRegionAndBudgetCenters" />
      <output name="fnGetRegionAndBudgetCenters_Result" message="tns:fnGetRegionAndBudgetCenters_Result" />
    </operation>
    <operation name="fnGetRelieverDetails">
      <input name="fnGetRelieverDetails" message="tns:fnGetRelieverDetails" />
      <output name="fnGetRelieverDetails_Result" message="tns:fnGetRelieverDetails_Result" />
    </operation>
    <operation name="fnGetSafariApplicationDetails">
      <input name="fnGetSafariApplicationDetails" message="tns:fnGetSafariApplicationDetails" />
      <output name="fnGetSafariApplicationDetails_Result" message="tns:fnGetSafariApplicationDetails_Result" />
    </operation>
    <operation name="fnGetSafariCode">
      <input name="fnGetSafariCode" message="tns:fnGetSafariCode" />
      <output name="fnGetSafariCode_Result" message="tns:fnGetSafariCode_Result" />
    </operation>
    <operation name="fnGetSafariEarnings">
      <input name="fnGetSafariEarnings" message="tns:fnGetSafariEarnings" />
      <output name="fnGetSafariEarnings_Result" message="tns:fnGetSafariEarnings_Result" />
    </operation>
    <operation name="fnGetSafariEntitlements">
      <input name="fnGetSafariEntitlements" message="tns:fnGetSafariEntitlements" />
      <output name="fnGetSafariEntitlements_Result" message="tns:fnGetSafariEntitlements_Result" />
    </operation>
    <operation name="fnGetSafariRequestLines">
      <input name="fnGetSafariRequestLines" message="tns:fnGetSafariRequestLines" />
      <output name="fnGetSafariRequestLines_Result" message="tns:fnGetSafariRequestLines_Result" />
    </operation>
    <operation name="fnGetSafariRequest">
      <input name="fnGetSafariRequest" message="tns:fnGetSafariRequest" />
      <output name="fnGetSafariRequest_Result" message="tns:fnGetSafariRequest_Result" />
    </operation>
    <operation name="fnGetStafClaims">
      <input name="fnGetStafClaims" message="tns:fnGetStafClaims" />
      <output name="fnGetStafClaims_Result" message="tns:fnGetStafClaims_Result" />
    </operation>
    <operation name="fnGetStaffClaimLines">
      <input name="fnGetStaffClaimLines" message="tns:fnGetStaffClaimLines" />
      <output name="fnGetStaffClaimLines_Result" message="tns:fnGetStaffClaimLines_Result" />
    </operation>
    <operation name="fnGetStaffCreditSalesHeaderDetails">
      <input name="fnGetStaffCreditSalesHeaderDetails" message="tns:fnGetStaffCreditSalesHeaderDetails" />
      <output name="fnGetStaffCreditSalesHeaderDetails_Result" message="tns:fnGetStaffCreditSalesHeaderDetails_Result" />
    </operation>
    <operation name="fnGetStaffCreditSalesHeader">
      <input name="fnGetStaffCreditSalesHeader" message="tns:fnGetStaffCreditSalesHeader" />
      <output name="fnGetStaffCreditSalesHeader_Result" message="tns:fnGetStaffCreditSalesHeader_Result" />
    </operation>
    <operation name="fnGetStaffCreditSalesLines">
      <input name="fnGetStaffCreditSalesLines" message="tns:fnGetStaffCreditSalesLines" />
      <output name="fnGetStaffCreditSalesLines_Result" message="tns:fnGetStaffCreditSalesLines_Result" />
    </operation>
    <operation name="fnGetStoreCode">
      <input name="fnGetStoreCode" message="tns:fnGetStoreCode" />
      <output name="fnGetStoreCode_Result" message="tns:fnGetStoreCode_Result" />
    </operation>
    <operation name="fnGetSurrenderLines">
      <input name="fnGetSurrenderLines" message="tns:fnGetSurrenderLines" />
      <output name="fnGetSurrenderLines_Result" message="tns:fnGetSurrenderLines_Result" />
    </operation>
    <operation name="fnGetTowns">
      <input name="fnGetTowns" message="tns:fnGetTowns" />
      <output name="fnGetTowns_Result" message="tns:fnGetTowns_Result" />
    </operation>
    <operation name="fnStoreRequisitionsSingle">
      <input name="fnStoreRequisitionsSingle" message="tns:fnStoreRequisitionsSingle" />
      <output name="fnStoreRequisitionsSingle_Result" message="tns:fnStoreRequisitionsSingle_Result" />
    </operation>
    <operation name="fnStoreRequisitions">
      <input name="fnStoreRequisitions" message="tns:fnStoreRequisitions" />
      <output name="fnStoreRequisitions_Result" message="tns:fnStoreRequisitions_Result" />
    </operation>
  </portType>
  <binding name="essQueries_Binding" type="tns:essQueries_Port">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <operation name="fnGLAccount">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/essQueries:fnGLAccount" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="fnGLAccount">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="fnGLAccount_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="fnGetAppraisalApplicationDetails">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/essQueries:fnGetAppraisalApplicationDetails" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="fnGetAppraisalApplicationDetails">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="fnGetAppraisalApplicationDetails_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="fnGetAppraisalApplicationListLineManager">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/essQueries:fnGetAppraisalApplicationListLineManager" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="fnGetAppraisalApplicationListLineManager">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="fnGetAppraisalApplicationListLineManager_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="fnGetAppraisalApplicationListOverviewManager">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/essQueries:fnGetAppraisalApplicationListOverviewManager" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="fnGetAppraisalApplicationListOverviewManager">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="fnGetAppraisalApplicationListOverviewManager_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="fnGetAppraisalApplicationList">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/essQueries:fnGetAppraisalApplicationList" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="fnGetAppraisalApplicationList">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="fnGetAppraisalApplicationList_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="fnGetClaimApplicationDetails">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/essQueries:fnGetClaimApplicationDetails" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="fnGetClaimApplicationDetails">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="fnGetClaimApplicationDetails_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="fnGetDepartments">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/essQueries:fnGetDepartments" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="fnGetDepartments">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="fnGetDepartments_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="fnGetDepotInfo">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/essQueries:fnGetDepotInfo" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="fnGetDepotInfo">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="fnGetDepotInfo_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="fnGetDimension">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/essQueries:fnGetDimension" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="fnGetDimension">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="fnGetDimension_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="fnGetEmployeeAppraisalBehaviour">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/essQueries:fnGetEmployeeAppraisalBehaviour" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="fnGetEmployeeAppraisalBehaviour">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="fnGetEmployeeAppraisalBehaviour_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="fnGetEmployeeAppraisalCompetence">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/essQueries:fnGetEmployeeAppraisalCompetence" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="fnGetEmployeeAppraisalCompetence">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="fnGetEmployeeAppraisalCompetence_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="fnGetEmployeeAppraisalKPIs">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/essQueries:fnGetEmployeeAppraisalKPIs" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="fnGetEmployeeAppraisalKPIs">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="fnGetEmployeeAppraisalKPIs_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="fnGetEmployeeAppraisalKRAs">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/essQueries:fnGetEmployeeAppraisalKRAs" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="fnGetEmployeeAppraisalKRAs">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="fnGetEmployeeAppraisalKRAs_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="fnGetEmployees">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/essQueries:fnGetEmployees" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="fnGetEmployees">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="fnGetEmployees_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="fnGetFleetRequisition">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/essQueries:fnGetFleetRequisition" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="fnGetFleetRequisition">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="fnGetFleetRequisition_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="fnGetHrLeaveApplicationDetails">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/essQueries:fnGetHrLeaveApplicationDetails" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="fnGetHrLeaveApplicationDetails">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="fnGetHrLeaveApplicationDetails_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="fnGetHrLeaveApplications">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/essQueries:fnGetHrLeaveApplications" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="fnGetHrLeaveApplications">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="fnGetHrLeaveApplications_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="fnGetHrPortalUser">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/essQueries:fnGetHrPortalUser" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="fnGetHrPortalUser">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="fnGetHrPortalUser_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="fnGetImprestApplications">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/essQueries:fnGetImprestApplications" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="fnGetImprestApplications">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="fnGetImprestApplications_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="fnGetImprestLine">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/essQueries:fnGetImprestLine" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="fnGetImprestLine">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="fnGetImprestLine_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="fnGetImprestLines">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/essQueries:fnGetImprestLines" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="fnGetImprestLines">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="fnGetImprestLines_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="fnGetItems">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/essQueries:fnGetItems" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="fnGetItems">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="fnGetItems_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="fnGetLeaveApplicationLines">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/essQueries:fnGetLeaveApplicationLines" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="fnGetLeaveApplicationLines">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="fnGetLeaveApplicationLines_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="fnGetLeaveBalances">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/essQueries:fnGetLeaveBalances" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="fnGetLeaveBalances">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="fnGetLeaveBalances_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="fnGetLeaveCode">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/essQueries:fnGetLeaveCode" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="fnGetLeaveCode">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="fnGetLeaveCode_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="fnGetPayrollPeriods">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/essQueries:fnGetPayrollPeriods" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="fnGetPayrollPeriods">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="fnGetPayrollPeriods_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="fnGetProductCodes">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/essQueries:fnGetProductCodes" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="fnGetProductCodes">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="fnGetProductCodes_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="fnGetProductDetails">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/essQueries:fnGetProductDetails" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="fnGetProductDetails">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="fnGetProductDetails_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="fnGetRegionAndBudgetCenters">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/essQueries:fnGetRegionAndBudgetCenters" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="fnGetRegionAndBudgetCenters">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="fnGetRegionAndBudgetCenters_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="fnGetRelieverDetails">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/essQueries:fnGetRelieverDetails" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="fnGetRelieverDetails">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="fnGetRelieverDetails_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="fnGetSafariApplicationDetails">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/essQueries:fnGetSafariApplicationDetails" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="fnGetSafariApplicationDetails">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="fnGetSafariApplicationDetails_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="fnGetSafariCode">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/essQueries:fnGetSafariCode" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="fnGetSafariCode">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="fnGetSafariCode_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="fnGetSafariEarnings">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/essQueries:fnGetSafariEarnings" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="fnGetSafariEarnings">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="fnGetSafariEarnings_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="fnGetSafariEntitlements">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/essQueries:fnGetSafariEntitlements" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="fnGetSafariEntitlements">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="fnGetSafariEntitlements_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="fnGetSafariRequestLines">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/essQueries:fnGetSafariRequestLines" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="fnGetSafariRequestLines">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="fnGetSafariRequestLines_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="fnGetSafariRequest">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/essQueries:fnGetSafariRequest" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="fnGetSafariRequest">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="fnGetSafariRequest_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="fnGetStafClaims">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/essQueries:fnGetStafClaims" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="fnGetStafClaims">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="fnGetStafClaims_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="fnGetStaffClaimLines">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/essQueries:fnGetStaffClaimLines" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="fnGetStaffClaimLines">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="fnGetStaffClaimLines_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="fnGetStaffCreditSalesHeaderDetails">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/essQueries:fnGetStaffCreditSalesHeaderDetails" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="fnGetStaffCreditSalesHeaderDetails">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="fnGetStaffCreditSalesHeaderDetails_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="fnGetStaffCreditSalesHeader">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/essQueries:fnGetStaffCreditSalesHeader" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="fnGetStaffCreditSalesHeader">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="fnGetStaffCreditSalesHeader_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="fnGetStaffCreditSalesLines">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/essQueries:fnGetStaffCreditSalesLines" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="fnGetStaffCreditSalesLines">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="fnGetStaffCreditSalesLines_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="fnGetStoreCode">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/essQueries:fnGetStoreCode" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="fnGetStoreCode">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="fnGetStoreCode_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="fnGetSurrenderLines">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/essQueries:fnGetSurrenderLines" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="fnGetSurrenderLines">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="fnGetSurrenderLines_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="fnGetTowns">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/essQueries:fnGetTowns" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="fnGetTowns">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="fnGetTowns_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="fnStoreRequisitionsSingle">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/essQueries:fnStoreRequisitionsSingle" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="fnStoreRequisitionsSingle">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="fnStoreRequisitionsSingle_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="fnStoreRequisitions">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/essQueries:fnStoreRequisitions" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="fnStoreRequisitions">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="fnStoreRequisitions_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
  </binding>
  <service name="essQueries">
    <port name="essQueries_Port" binding="tns:essQueries_Binding">
      <address location="http://41.139.199.18:7047/BC220/WS/NCPB/Codeunit/essQueries" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </port>
  </service>
</definitions>