HRPortal/Web References/essQueries/essQueries.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:tns="urn:microsoft-dynamics-schemas/codeunit/essQueries" targetNamespace="urn:microsoft-dynamics-schemas/codeunit/essQueries" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <schema elementFormDefault="qualified" targetNamespace="urn:microsoft-dynamics-schemas/codeunit/essQueries" xmlns="http://www.w3.org/2001/XMLSchema">
      <element name="fnGetHrPortalUser">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="empNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="pwd" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="fnGetHrPortalUser_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
    </schema>
  </types>
  <message name="fnGetHrPortalUser">
    <part name="parameters" element="tns:fnGetHrPortalUser" />
  </message>
  <message name="fnGetHrPortalUser_Result">
    <part name="parameters" element="tns:fnGetHrPortalUser_Result" />
  </message>
  <portType name="essQueries_Port">
    <operation name="fnGetHrPortalUser">
      <input name="fnGetHrPortalUser" message="tns:fnGetHrPortalUser" />
      <output name="fnGetHrPortalUser_Result" message="tns:fnGetHrPortalUser_Result" />
    </operation>
  </portType>
  <binding name="essQueries_Binding" type="tns:essQueries_Port">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <operation name="fnGetHrPortalUser">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/essQueries:fnGetHrPortalUser" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="fnGetHrPortalUser">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="fnGetHrPortalUser_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
  </binding>
  <service name="essQueries">
    <port name="essQueries_Port" binding="tns:essQueries_Binding">
      <address location="http://dynamicsbc.cereals:7047/BC220/WS/NCPB/Codeunit/essQueries" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </port>
  </service>
</definitions>