HRPortal/Web References/NewHrPortal/NewHrPortal.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:tns="urn:microsoft-dynamics-schemas/codeunit/NewHrPortal" targetNamespace="urn:microsoft-dynamics-schemas/codeunit/NewHrPortal" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <schema elementFormDefault="qualified" targetNamespace="urn:microsoft-dynamics-schemas/codeunit/NewHrPortal" xmlns="http://www.w3.org/2001/XMLSchema">
      <element name="changePassword">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="employeeNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="currentPassword" type="string" />
            <element minOccurs="1" maxOccurs="1" name="newPassword" type="string" />
            <element minOccurs="1" maxOccurs="1" name="confirmPassword" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="changePassword_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="createStoreRequisitionLine">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="requisitionNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="item" type="string" />
            <element minOccurs="1" maxOccurs="1" name="location" type="string" />
            <element minOccurs="1" maxOccurs="1" name="quantity" type="int" />
          </sequence>
        </complexType>
      </element>
      <element name="createStoreRequisitionLine_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="createStoreRequisition">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="employeeNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="requisitionNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="description" type="string" />
            <element minOccurs="1" maxOccurs="1" name="requiredDate" type="date" />
          </sequence>
        </complexType>
      </element>
      <element name="createStoreRequisition_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="fnGetEmployeeDetail">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="empNumber" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="fnGetEmployeeDetail_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="fnStoreRequisitionLines">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="appNo" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="fnStoreRequisitionLines_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="generateP9">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="employeeNumber" type="string" />
            <element minOccurs="1" maxOccurs="1" name="year" type="int" />
          </sequence>
        </complexType>
      </element>
      <element name="generateP9_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="generatePayslip">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="employeeNumber" type="string" />
            <element minOccurs="1" maxOccurs="1" name="year" type="int" />
            <element minOccurs="1" maxOccurs="1" name="month" type="int" />
          </sequence>
        </complexType>
      </element>
      <element name="generatePayslip_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
    </schema>
  </types>
  <message name="changePassword">
    <part name="parameters" element="tns:changePassword" />
  </message>
  <message name="changePassword_Result">
    <part name="parameters" element="tns:changePassword_Result" />
  </message>
  <message name="createStoreRequisitionLine">
    <part name="parameters" element="tns:createStoreRequisitionLine" />
  </message>
  <message name="createStoreRequisitionLine_Result">
    <part name="parameters" element="tns:createStoreRequisitionLine_Result" />
  </message>
  <message name="createStoreRequisition">
    <part name="parameters" element="tns:createStoreRequisition" />
  </message>
  <message name="createStoreRequisition_Result">
    <part name="parameters" element="tns:createStoreRequisition_Result" />
  </message>
  <message name="fnGetEmployeeDetail">
    <part name="parameters" element="tns:fnGetEmployeeDetail" />
  </message>
  <message name="fnGetEmployeeDetail_Result">
    <part name="parameters" element="tns:fnGetEmployeeDetail_Result" />
  </message>
  <message name="fnStoreRequisitionLines">
    <part name="parameters" element="tns:fnStoreRequisitionLines" />
  </message>
  <message name="fnStoreRequisitionLines_Result">
    <part name="parameters" element="tns:fnStoreRequisitionLines_Result" />
  </message>
  <message name="generateP9">
    <part name="parameters" element="tns:generateP9" />
  </message>
  <message name="generateP9_Result">
    <part name="parameters" element="tns:generateP9_Result" />
  </message>
  <message name="generatePayslip">
    <part name="parameters" element="tns:generatePayslip" />
  </message>
  <message name="generatePayslip_Result">
    <part name="parameters" element="tns:generatePayslip_Result" />
  </message>
  <portType name="NewHrPortal_Port">
    <operation name="changePassword">
      <input name="changePassword" message="tns:changePassword" />
      <output name="changePassword_Result" message="tns:changePassword_Result" />
    </operation>
    <operation name="createStoreRequisitionLine">
      <input name="createStoreRequisitionLine" message="tns:createStoreRequisitionLine" />
      <output name="createStoreRequisitionLine_Result" message="tns:createStoreRequisitionLine_Result" />
    </operation>
    <operation name="createStoreRequisition">
      <input name="createStoreRequisition" message="tns:createStoreRequisition" />
      <output name="createStoreRequisition_Result" message="tns:createStoreRequisition_Result" />
    </operation>
    <operation name="fnGetEmployeeDetail">
      <input name="fnGetEmployeeDetail" message="tns:fnGetEmployeeDetail" />
      <output name="fnGetEmployeeDetail_Result" message="tns:fnGetEmployeeDetail_Result" />
    </operation>
    <operation name="fnStoreRequisitionLines">
      <input name="fnStoreRequisitionLines" message="tns:fnStoreRequisitionLines" />
      <output name="fnStoreRequisitionLines_Result" message="tns:fnStoreRequisitionLines_Result" />
    </operation>
    <operation name="generateP9">
      <input name="generateP9" message="tns:generateP9" />
      <output name="generateP9_Result" message="tns:generateP9_Result" />
    </operation>
    <operation name="generatePayslip">
      <input name="generatePayslip" message="tns:generatePayslip" />
      <output name="generatePayslip_Result" message="tns:generatePayslip_Result" />
    </operation>
  </portType>
  <binding name="NewHrPortal_Binding" type="tns:NewHrPortal_Port">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <operation name="changePassword">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/NewHrPortal:changePassword" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="changePassword">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="changePassword_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="createStoreRequisitionLine">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/NewHrPortal:createStoreRequisitionLine" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="createStoreRequisitionLine">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="createStoreRequisitionLine_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="createStoreRequisition">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/NewHrPortal:createStoreRequisition" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="createStoreRequisition">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="createStoreRequisition_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="fnGetEmployeeDetail">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/NewHrPortal:fnGetEmployeeDetail" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="fnGetEmployeeDetail">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="fnGetEmployeeDetail_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="fnStoreRequisitionLines">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/NewHrPortal:fnStoreRequisitionLines" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="fnStoreRequisitionLines">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="fnStoreRequisitionLines_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="generateP9">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/NewHrPortal:generateP9" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="generateP9">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="generateP9_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="generatePayslip">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/NewHrPortal:generatePayslip" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="generatePayslip">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="generatePayslip_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
  </binding>
  <service name="NewHrPortal">
    <port name="NewHrPortal_Port" binding="tns:NewHrPortal_Binding">
      <address location="http://dynamicsbc.cereals:7047/BC220/WS/NCPB/Codeunit/NewHrPortal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </port>
  </service>
</definitions>