HRPortal/Web References/NewHrPortal/NewHrPortal.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:tns="urn:microsoft-dynamics-schemas/codeunit/NewHrPortal" targetNamespace="urn:microsoft-dynamics-schemas/codeunit/NewHrPortal" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <schema elementFormDefault="qualified" targetNamespace="urn:microsoft-dynamics-schemas/codeunit/NewHrPortal" xmlns="http://www.w3.org/2001/XMLSchema">
      <element name="CreateSalesOrder">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="documentNo" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="CreateSalesOrder_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="approveAppraisal">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="applicationNo" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="approveAppraisal_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="changePassword">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="employeeNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="currentPassword" type="string" />
            <element minOccurs="1" maxOccurs="1" name="newPassword" type="string" />
            <element minOccurs="1" maxOccurs="1" name="confirmPassword" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="changePassword_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="copySafariLines_1044271612">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="safariNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="claimNo" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="copySafariLines_1044271612_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="copySafariLines">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="claimNo" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="copySafariLines_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="createImprestApplicationLines">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="applicationNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="gLAccou" type="string" />
            <element minOccurs="1" maxOccurs="1" name="functionCode" type="string" />
            <element minOccurs="1" maxOccurs="1" name="amount" type="decimal" />
          </sequence>
        </complexType>
      </element>
      <element name="createImprestApplicationLines_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="createImprestRequest">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="safariNo" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="createImprestRequest_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="createImprest">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="applicationNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="employeeNumber" type="string" />
            <element minOccurs="1" maxOccurs="1" name="payingBudgetCenter" type="string" />
            <element minOccurs="1" maxOccurs="1" name="requestDate" type="date" />
            <element minOccurs="1" maxOccurs="1" name="travelDate" type="date" />
            <element minOccurs="1" maxOccurs="1" name="purpose" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="createImprest_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="createKPILines">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="applicationNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="kraLineNo" type="int" />
            <element minOccurs="1" maxOccurs="1" name="lineNo" type="int" />
            <element minOccurs="1" maxOccurs="1" name="iniative" type="string" />
            <element minOccurs="1" maxOccurs="1" name="kpi" type="string" />
            <element minOccurs="1" maxOccurs="1" name="target" type="string" />
            <element minOccurs="1" maxOccurs="1" name="weight" type="decimal" />
          </sequence>
        </complexType>
      </element>
      <element name="createKPILines_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="createLeaveApplicationLines">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="applicationNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="leaveType" type="string" />
            <element minOccurs="1" maxOccurs="1" name="dateStart" type="date" />
            <element minOccurs="1" maxOccurs="1" name="daysApplied" type="int" />
          </sequence>
        </complexType>
      </element>
      <element name="createLeaveApplicationLines_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="createLeaveApplication">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="applicationNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="employeeNumber" type="string" />
            <element minOccurs="1" maxOccurs="1" name="reliever" type="string" />
            <element minOccurs="1" maxOccurs="1" name="contactAddress" type="string" />
            <element minOccurs="1" maxOccurs="1" name="naration" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="createLeaveApplication_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="createLineManagerEyKPILines">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="applicationNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="kraLineNo" type="int" />
            <element minOccurs="1" maxOccurs="1" name="lineNo" type="int" />
            <element minOccurs="1" maxOccurs="1" name="appraiserRating" type="string" />
            <element minOccurs="1" maxOccurs="1" name="eySupervisorComment" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="createLineManagerEyKPILines_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="createLineManagerMyKPILines">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="applicationNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="kraLineNo" type="int" />
            <element minOccurs="1" maxOccurs="1" name="lineNo" type="int" />
            <element minOccurs="1" maxOccurs="1" name="mySupervisorAssessment" type="string" />
            <element minOccurs="1" maxOccurs="1" name="mySupervisorComment" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="createLineManagerMyKPILines_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="createNewKPILines">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="applicationNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="kraLineNo" type="int" />
            <element minOccurs="1" maxOccurs="1" name="iniative" type="string" />
            <element minOccurs="1" maxOccurs="1" name="kpi" type="string" />
            <element minOccurs="1" maxOccurs="1" name="target" type="string" />
            <element minOccurs="1" maxOccurs="1" name="weight" type="decimal" />
          </sequence>
        </complexType>
      </element>
      <element name="createNewKPILines_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="createSafariRequestEntitlements">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="applicationNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="entitlement" type="string" />
            <element minOccurs="1" maxOccurs="1" name="quantity" type="int" />
            <element minOccurs="1" maxOccurs="1" name="rate" type="decimal" />
            <element minOccurs="1" maxOccurs="1" name="town" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="createSafariRequestEntitlements_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="createSafariRequestHeader">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="applicationNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="employeeNumber" type="string" />
            <element minOccurs="1" maxOccurs="1" name="exptTravelDate" type="date" />
            <element minOccurs="1" maxOccurs="1" name="exptReturnDate" type="date" />
            <element minOccurs="1" maxOccurs="1" name="modeOfTransPort" type="int" />
            <element minOccurs="1" maxOccurs="1" name="functionCode" type="string" />
            <element minOccurs="1" maxOccurs="1" name="budgetCode" type="string" />
            <element minOccurs="1" maxOccurs="1" name="purpose" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="createSafariRequestHeader_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="createSafariRequestLines">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="applicationNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="expseDate" type="date" />
            <element minOccurs="1" maxOccurs="1" name="returnDate" type="date" />
            <element minOccurs="1" maxOccurs="1" name="travelFrom" type="string" />
            <element minOccurs="1" maxOccurs="1" name="travelTo" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="createSafariRequestLines_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="createStaffApplication">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="applicationNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="employeeNumber" type="string" />
            <element minOccurs="1" maxOccurs="1" name="safariCode" type="string" />
            <element minOccurs="1" maxOccurs="1" name="fundCode" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="createStaffApplication_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="createStaffClaimApplicationLines">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="applicationNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="claimType" type="string" />
            <element minOccurs="1" maxOccurs="1" name="noOfDays" type="int" />
            <element minOccurs="1" maxOccurs="1" name="noOfNights" type="int" />
            <element minOccurs="1" maxOccurs="1" name="quantity" type="int" />
            <element minOccurs="1" maxOccurs="1" name="rate" type="decimal" />
            <element minOccurs="1" maxOccurs="1" name="reasonForClaim" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="createStaffClaimApplicationLines_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="createStoreRequisitionLine">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="requisitionNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="item" type="string" />
            <element minOccurs="1" maxOccurs="1" name="location" type="string" />
            <element minOccurs="1" maxOccurs="1" name="quantity" type="int" />
          </sequence>
        </complexType>
      </element>
      <element name="createStoreRequisitionLine_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="createStoreRequisition">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="employeeNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="requisitionNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="description" type="string" />
            <element minOccurs="1" maxOccurs="1" name="requiredDate" type="date" />
          </sequence>
        </complexType>
      </element>
      <element name="createStoreRequisition_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="createSurrenderApplicationLines">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="applicationNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="expenseDate" type="date" />
            <element minOccurs="1" maxOccurs="1" name="expenseLocation" type="string" />
            <element minOccurs="1" maxOccurs="1" name="imprestLine" type="string" />
            <element minOccurs="1" maxOccurs="1" name="amount" type="decimal" />
            <element minOccurs="1" maxOccurs="1" name="lineNo" type="int" />
          </sequence>
        </complexType>
      </element>
      <element name="createSurrenderApplicationLines_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="createeyBehaviourLines">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="applicationNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="categoryLine" type="int" />
            <element minOccurs="1" maxOccurs="1" name="lineNo" type="int" />
            <element minOccurs="1" maxOccurs="1" name="selfRating" type="string" />
            <element minOccurs="1" maxOccurs="1" name="appraiseeRemarks" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="createeyBehaviourLines_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="createeyKPILines">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="applicationNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="kraLineNo" type="int" />
            <element minOccurs="1" maxOccurs="1" name="lineNo" type="int" />
            <element minOccurs="1" maxOccurs="1" name="appraiseeSelfRating" type="string" />
            <element minOccurs="1" maxOccurs="1" name="employeeComent" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="createeyKPILines_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="createeyLineManagerBehaviourLines">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="applicationNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="categoryLine" type="int" />
            <element minOccurs="1" maxOccurs="1" name="lineNo" type="int" />
            <element minOccurs="1" maxOccurs="1" name="appraiserRating" type="string" />
            <element minOccurs="1" maxOccurs="1" name="overallRemarks" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="createeyLineManagerBehaviourLines_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="createmyBehaviourLines">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="applicationNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="categoryLine" type="int" />
            <element minOccurs="1" maxOccurs="1" name="lineNo" type="int" />
            <element minOccurs="1" maxOccurs="1" name="myEmployeeRating" type="string" />
            <element minOccurs="1" maxOccurs="1" name="myEmployeeComment" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="createmyBehaviourLines_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="createmyKPILines">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="applicationNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="kraLineNo" type="int" />
            <element minOccurs="1" maxOccurs="1" name="lineNo" type="int" />
            <element minOccurs="1" maxOccurs="1" name="myAssessment" type="string" />
            <element minOccurs="1" maxOccurs="1" name="myComment" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="createmyKPILines_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="createmyLineManagerBehaviourLines">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="applicationNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="categoryLine" type="int" />
            <element minOccurs="1" maxOccurs="1" name="lineNo" type="int" />
            <element minOccurs="1" maxOccurs="1" name="mySupervisorRating" type="string" />
            <element minOccurs="1" maxOccurs="1" name="mySupervisorComment" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="createmyLineManagerBehaviourLines_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="deleteImprestApplicationLines">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="documentNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="lineNo" type="int" />
          </sequence>
        </complexType>
      </element>
      <element name="deleteImprestApplicationLines_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="deleteLeaveApplicationLines">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="applicationNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="lineNo" type="int" />
          </sequence>
        </complexType>
      </element>
      <element name="deleteLeaveApplicationLines_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="deleteSafariRequestLines">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="documentNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="expenseDate" type="date" />
          </sequence>
        </complexType>
      </element>
      <element name="deleteSafariRequestLines_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="deleteStaffCreditSalesLines">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="documentNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="lineNo" type="int" />
          </sequence>
        </complexType>
      </element>
      <element name="deleteStaffCreditSalesLines_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="editImprestApplicationLines">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="applicationNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="lineNo" type="int" />
            <element minOccurs="1" maxOccurs="1" name="gLAccou" type="string" />
            <element minOccurs="1" maxOccurs="1" name="functionCode" type="string" />
            <element minOccurs="1" maxOccurs="1" name="amount" type="decimal" />
          </sequence>
        </complexType>
      </element>
      <element name="editImprestApplicationLines_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="editLeaveApplicationLines">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="applicationNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="lineNo" type="int" />
            <element minOccurs="1" maxOccurs="1" name="leaveType" type="string" />
            <element minOccurs="1" maxOccurs="1" name="dateStart" type="date" />
            <element minOccurs="1" maxOccurs="1" name="dateEnd" type="date" />
          </sequence>
        </complexType>
      </element>
      <element name="editLeaveApplicationLines_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="editSafariRequestLines">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="applicationNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="expseDate" type="date" />
            <element minOccurs="1" maxOccurs="1" name="returnDate" type="date" />
            <element minOccurs="1" maxOccurs="1" name="travelFrom" type="string" />
            <element minOccurs="1" maxOccurs="1" name="travelTo" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="editSafariRequestLines_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="editStaffCreditSalesLines">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="documentNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="productCode" type="string" />
            <element minOccurs="1" maxOccurs="1" name="quantity" type="decimal" />
          </sequence>
        </complexType>
      </element>
      <element name="editStaffCreditSalesLines_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="fnCreateSalesCreditHeader">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="documentNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="payroll" type="string" />
            <element minOccurs="1" maxOccurs="1" name="recoveryPeriod" type="string" />
            <element minOccurs="1" maxOccurs="1" name="deportCode" type="string" />
            <element minOccurs="1" maxOccurs="1" name="locationCode" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="fnCreateSalesCreditHeader_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="fnCreateStaffCreditLines">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="documentNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="productCode" type="string" />
            <element minOccurs="1" maxOccurs="1" name="quantity" type="decimal" />
          </sequence>
        </complexType>
      </element>
      <element name="fnCreateStaffCreditLines_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="fnGetEmployeeDetail">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="empNumber" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="fnGetEmployeeDetail_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="fnStoreRequisitionLines">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="appNo" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="fnStoreRequisitionLines_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="generateP9">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="employeeNumber" type="string" />
            <element minOccurs="1" maxOccurs="1" name="year" type="int" />
          </sequence>
        </complexType>
      </element>
      <element name="generateP9_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="generatePayslip">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="employeeNumber" type="string" />
            <element minOccurs="1" maxOccurs="1" name="year" type="int" />
            <element minOccurs="1" maxOccurs="1" name="month" type="int" />
          </sequence>
        </complexType>
      </element>
      <element name="generatePayslip_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="sendImprestApplicationApproval">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="applicationNo" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="sendImprestApplicationApproval_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="sendLeaveApplicationApproval">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="applicationNo" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="sendLeaveApplicationApproval_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="sendObjectiveSettingsBackToAppraisee">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="applicationNo" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="sendObjectiveSettingsBackToAppraisee_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="sendObjectiveSettingsToLineManager">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="applicationNo" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="sendObjectiveSettingsToLineManager_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="sendSafariRequestApplicationApproval">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="applicationNo" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="sendSafariRequestApplicationApproval_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="sendStaffClaimApplicationApproval">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="applicationNo" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="sendStaffClaimApplicationApproval_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="sendStaffCreditSaleApproval">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="documentNo" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="sendStaffCreditSaleApproval_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="sendSurrenderApplicationApproval">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="applicationNo" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="sendSurrenderApplicationApproval_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="sendToAppraiseeForAgreement">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="applicationNo" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="sendToAppraiseeForAgreement_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="updateOverallComments">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="applicationNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="overallComments" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="updateOverallComments_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="updateSupervisorOverallComments">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="applicationNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="supervisorOverallComments" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="updateSupervisorOverallComments_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
    </schema>
  </types>
  <message name="CreateSalesOrder">
    <part name="parameters" element="tns:CreateSalesOrder" />
  </message>
  <message name="CreateSalesOrder_Result">
    <part name="parameters" element="tns:CreateSalesOrder_Result" />
  </message>
  <message name="approveAppraisal">
    <part name="parameters" element="tns:approveAppraisal" />
  </message>
  <message name="approveAppraisal_Result">
    <part name="parameters" element="tns:approveAppraisal_Result" />
  </message>
  <message name="changePassword">
    <part name="parameters" element="tns:changePassword" />
  </message>
  <message name="changePassword_Result">
    <part name="parameters" element="tns:changePassword_Result" />
  </message>
  <message name="copySafariLines_1044271612">
    <part name="parameters" element="tns:copySafariLines_1044271612" />
  </message>
  <message name="copySafariLines_1044271612_Result">
    <part name="parameters" element="tns:copySafariLines_1044271612_Result" />
  </message>
  <message name="copySafariLines">
    <part name="parameters" element="tns:copySafariLines" />
  </message>
  <message name="copySafariLines_Result">
    <part name="parameters" element="tns:copySafariLines_Result" />
  </message>
  <message name="createImprestApplicationLines">
    <part name="parameters" element="tns:createImprestApplicationLines" />
  </message>
  <message name="createImprestApplicationLines_Result">
    <part name="parameters" element="tns:createImprestApplicationLines_Result" />
  </message>
  <message name="createImprestRequest">
    <part name="parameters" element="tns:createImprestRequest" />
  </message>
  <message name="createImprestRequest_Result">
    <part name="parameters" element="tns:createImprestRequest_Result" />
  </message>
  <message name="createImprest">
    <part name="parameters" element="tns:createImprest" />
  </message>
  <message name="createImprest_Result">
    <part name="parameters" element="tns:createImprest_Result" />
  </message>
  <message name="createKPILines">
    <part name="parameters" element="tns:createKPILines" />
  </message>
  <message name="createKPILines_Result">
    <part name="parameters" element="tns:createKPILines_Result" />
  </message>
  <message name="createLeaveApplicationLines">
    <part name="parameters" element="tns:createLeaveApplicationLines" />
  </message>
  <message name="createLeaveApplicationLines_Result">
    <part name="parameters" element="tns:createLeaveApplicationLines_Result" />
  </message>
  <message name="createLeaveApplication">
    <part name="parameters" element="tns:createLeaveApplication" />
  </message>
  <message name="createLeaveApplication_Result">
    <part name="parameters" element="tns:createLeaveApplication_Result" />
  </message>
  <message name="createLineManagerEyKPILines">
    <part name="parameters" element="tns:createLineManagerEyKPILines" />
  </message>
  <message name="createLineManagerEyKPILines_Result">
    <part name="parameters" element="tns:createLineManagerEyKPILines_Result" />
  </message>
  <message name="createLineManagerMyKPILines">
    <part name="parameters" element="tns:createLineManagerMyKPILines" />
  </message>
  <message name="createLineManagerMyKPILines_Result">
    <part name="parameters" element="tns:createLineManagerMyKPILines_Result" />
  </message>
  <message name="createNewKPILines">
    <part name="parameters" element="tns:createNewKPILines" />
  </message>
  <message name="createNewKPILines_Result">
    <part name="parameters" element="tns:createNewKPILines_Result" />
  </message>
  <message name="createSafariRequestEntitlements">
    <part name="parameters" element="tns:createSafariRequestEntitlements" />
  </message>
  <message name="createSafariRequestEntitlements_Result">
    <part name="parameters" element="tns:createSafariRequestEntitlements_Result" />
  </message>
  <message name="createSafariRequestHeader">
    <part name="parameters" element="tns:createSafariRequestHeader" />
  </message>
  <message name="createSafariRequestHeader_Result">
    <part name="parameters" element="tns:createSafariRequestHeader_Result" />
  </message>
  <message name="createSafariRequestLines">
    <part name="parameters" element="tns:createSafariRequestLines" />
  </message>
  <message name="createSafariRequestLines_Result">
    <part name="parameters" element="tns:createSafariRequestLines_Result" />
  </message>
  <message name="createStaffApplication">
    <part name="parameters" element="tns:createStaffApplication" />
  </message>
  <message name="createStaffApplication_Result">
    <part name="parameters" element="tns:createStaffApplication_Result" />
  </message>
  <message name="createStaffClaimApplicationLines">
    <part name="parameters" element="tns:createStaffClaimApplicationLines" />
  </message>
  <message name="createStaffClaimApplicationLines_Result">
    <part name="parameters" element="tns:createStaffClaimApplicationLines_Result" />
  </message>
  <message name="createStoreRequisitionLine">
    <part name="parameters" element="tns:createStoreRequisitionLine" />
  </message>
  <message name="createStoreRequisitionLine_Result">
    <part name="parameters" element="tns:createStoreRequisitionLine_Result" />
  </message>
  <message name="createStoreRequisition">
    <part name="parameters" element="tns:createStoreRequisition" />
  </message>
  <message name="createStoreRequisition_Result">
    <part name="parameters" element="tns:createStoreRequisition_Result" />
  </message>
  <message name="createSurrenderApplicationLines">
    <part name="parameters" element="tns:createSurrenderApplicationLines" />
  </message>
  <message name="createSurrenderApplicationLines_Result">
    <part name="parameters" element="tns:createSurrenderApplicationLines_Result" />
  </message>
  <message name="createeyBehaviourLines">
    <part name="parameters" element="tns:createeyBehaviourLines" />
  </message>
  <message name="createeyBehaviourLines_Result">
    <part name="parameters" element="tns:createeyBehaviourLines_Result" />
  </message>
  <message name="createeyKPILines">
    <part name="parameters" element="tns:createeyKPILines" />
  </message>
  <message name="createeyKPILines_Result">
    <part name="parameters" element="tns:createeyKPILines_Result" />
  </message>
  <message name="createeyLineManagerBehaviourLines">
    <part name="parameters" element="tns:createeyLineManagerBehaviourLines" />
  </message>
  <message name="createeyLineManagerBehaviourLines_Result">
    <part name="parameters" element="tns:createeyLineManagerBehaviourLines_Result" />
  </message>
  <message name="createmyBehaviourLines">
    <part name="parameters" element="tns:createmyBehaviourLines" />
  </message>
  <message name="createmyBehaviourLines_Result">
    <part name="parameters" element="tns:createmyBehaviourLines_Result" />
  </message>
  <message name="createmyKPILines">
    <part name="parameters" element="tns:createmyKPILines" />
  </message>
  <message name="createmyKPILines_Result">
    <part name="parameters" element="tns:createmyKPILines_Result" />
  </message>
  <message name="createmyLineManagerBehaviourLines">
    <part name="parameters" element="tns:createmyLineManagerBehaviourLines" />
  </message>
  <message name="createmyLineManagerBehaviourLines_Result">
    <part name="parameters" element="tns:createmyLineManagerBehaviourLines_Result" />
  </message>
  <message name="deleteImprestApplicationLines">
    <part name="parameters" element="tns:deleteImprestApplicationLines" />
  </message>
  <message name="deleteImprestApplicationLines_Result">
    <part name="parameters" element="tns:deleteImprestApplicationLines_Result" />
  </message>
  <message name="deleteLeaveApplicationLines">
    <part name="parameters" element="tns:deleteLeaveApplicationLines" />
  </message>
  <message name="deleteLeaveApplicationLines_Result">
    <part name="parameters" element="tns:deleteLeaveApplicationLines_Result" />
  </message>
  <message name="deleteSafariRequestLines">
    <part name="parameters" element="tns:deleteSafariRequestLines" />
  </message>
  <message name="deleteSafariRequestLines_Result">
    <part name="parameters" element="tns:deleteSafariRequestLines_Result" />
  </message>
  <message name="deleteStaffCreditSalesLines">
    <part name="parameters" element="tns:deleteStaffCreditSalesLines" />
  </message>
  <message name="deleteStaffCreditSalesLines_Result">
    <part name="parameters" element="tns:deleteStaffCreditSalesLines_Result" />
  </message>
  <message name="editImprestApplicationLines">
    <part name="parameters" element="tns:editImprestApplicationLines" />
  </message>
  <message name="editImprestApplicationLines_Result">
    <part name="parameters" element="tns:editImprestApplicationLines_Result" />
  </message>
  <message name="editLeaveApplicationLines">
    <part name="parameters" element="tns:editLeaveApplicationLines" />
  </message>
  <message name="editLeaveApplicationLines_Result">
    <part name="parameters" element="tns:editLeaveApplicationLines_Result" />
  </message>
  <message name="editSafariRequestLines">
    <part name="parameters" element="tns:editSafariRequestLines" />
  </message>
  <message name="editSafariRequestLines_Result">
    <part name="parameters" element="tns:editSafariRequestLines_Result" />
  </message>
  <message name="editStaffCreditSalesLines">
    <part name="parameters" element="tns:editStaffCreditSalesLines" />
  </message>
  <message name="editStaffCreditSalesLines_Result">
    <part name="parameters" element="tns:editStaffCreditSalesLines_Result" />
  </message>
  <message name="fnCreateSalesCreditHeader">
    <part name="parameters" element="tns:fnCreateSalesCreditHeader" />
  </message>
  <message name="fnCreateSalesCreditHeader_Result">
    <part name="parameters" element="tns:fnCreateSalesCreditHeader_Result" />
  </message>
  <message name="fnCreateStaffCreditLines">
    <part name="parameters" element="tns:fnCreateStaffCreditLines" />
  </message>
  <message name="fnCreateStaffCreditLines_Result">
    <part name="parameters" element="tns:fnCreateStaffCreditLines_Result" />
  </message>
  <message name="fnGetEmployeeDetail">
    <part name="parameters" element="tns:fnGetEmployeeDetail" />
  </message>
  <message name="fnGetEmployeeDetail_Result">
    <part name="parameters" element="tns:fnGetEmployeeDetail_Result" />
  </message>
  <message name="fnStoreRequisitionLines">
    <part name="parameters" element="tns:fnStoreRequisitionLines" />
  </message>
  <message name="fnStoreRequisitionLines_Result">
    <part name="parameters" element="tns:fnStoreRequisitionLines_Result" />
  </message>
  <message name="generateP9">
    <part name="parameters" element="tns:generateP9" />
  </message>
  <message name="generateP9_Result">
    <part name="parameters" element="tns:generateP9_Result" />
  </message>
  <message name="generatePayslip">
    <part name="parameters" element="tns:generatePayslip" />
  </message>
  <message name="generatePayslip_Result">
    <part name="parameters" element="tns:generatePayslip_Result" />
  </message>
  <message name="sendImprestApplicationApproval">
    <part name="parameters" element="tns:sendImprestApplicationApproval" />
  </message>
  <message name="sendImprestApplicationApproval_Result">
    <part name="parameters" element="tns:sendImprestApplicationApproval_Result" />
  </message>
  <message name="sendLeaveApplicationApproval">
    <part name="parameters" element="tns:sendLeaveApplicationApproval" />
  </message>
  <message name="sendLeaveApplicationApproval_Result">
    <part name="parameters" element="tns:sendLeaveApplicationApproval_Result" />
  </message>
  <message name="sendObjectiveSettingsBackToAppraisee">
    <part name="parameters" element="tns:sendObjectiveSettingsBackToAppraisee" />
  </message>
  <message name="sendObjectiveSettingsBackToAppraisee_Result">
    <part name="parameters" element="tns:sendObjectiveSettingsBackToAppraisee_Result" />
  </message>
  <message name="sendObjectiveSettingsToLineManager">
    <part name="parameters" element="tns:sendObjectiveSettingsToLineManager" />
  </message>
  <message name="sendObjectiveSettingsToLineManager_Result">
    <part name="parameters" element="tns:sendObjectiveSettingsToLineManager_Result" />
  </message>
  <message name="sendSafariRequestApplicationApproval">
    <part name="parameters" element="tns:sendSafariRequestApplicationApproval" />
  </message>
  <message name="sendSafariRequestApplicationApproval_Result">
    <part name="parameters" element="tns:sendSafariRequestApplicationApproval_Result" />
  </message>
  <message name="sendStaffClaimApplicationApproval">
    <part name="parameters" element="tns:sendStaffClaimApplicationApproval" />
  </message>
  <message name="sendStaffClaimApplicationApproval_Result">
    <part name="parameters" element="tns:sendStaffClaimApplicationApproval_Result" />
  </message>
  <message name="sendStaffCreditSaleApproval">
    <part name="parameters" element="tns:sendStaffCreditSaleApproval" />
  </message>
  <message name="sendStaffCreditSaleApproval_Result">
    <part name="parameters" element="tns:sendStaffCreditSaleApproval_Result" />
  </message>
  <message name="sendSurrenderApplicationApproval">
    <part name="parameters" element="tns:sendSurrenderApplicationApproval" />
  </message>
  <message name="sendSurrenderApplicationApproval_Result">
    <part name="parameters" element="tns:sendSurrenderApplicationApproval_Result" />
  </message>
  <message name="sendToAppraiseeForAgreement">
    <part name="parameters" element="tns:sendToAppraiseeForAgreement" />
  </message>
  <message name="sendToAppraiseeForAgreement_Result">
    <part name="parameters" element="tns:sendToAppraiseeForAgreement_Result" />
  </message>
  <message name="updateOverallComments">
    <part name="parameters" element="tns:updateOverallComments" />
  </message>
  <message name="updateOverallComments_Result">
    <part name="parameters" element="tns:updateOverallComments_Result" />
  </message>
  <message name="updateSupervisorOverallComments">
    <part name="parameters" element="tns:updateSupervisorOverallComments" />
  </message>
  <message name="updateSupervisorOverallComments_Result">
    <part name="parameters" element="tns:updateSupervisorOverallComments_Result" />
  </message>
  <portType name="NewHrPortal_Port">
    <operation name="CreateSalesOrder">
      <input name="CreateSalesOrder" message="tns:CreateSalesOrder" />
      <output name="CreateSalesOrder_Result" message="tns:CreateSalesOrder_Result" />
    </operation>
    <operation name="approveAppraisal">
      <input name="approveAppraisal" message="tns:approveAppraisal" />
      <output name="approveAppraisal_Result" message="tns:approveAppraisal_Result" />
    </operation>
    <operation name="changePassword">
      <input name="changePassword" message="tns:changePassword" />
      <output name="changePassword_Result" message="tns:changePassword_Result" />
    </operation>
    <operation name="copySafariLines_1044271612">
      <input name="copySafariLines_1044271612" message="tns:copySafariLines_1044271612" />
      <output name="copySafariLines_1044271612_Result" message="tns:copySafariLines_1044271612_Result" />
    </operation>
    <operation name="copySafariLines">
      <input name="copySafariLines" message="tns:copySafariLines" />
      <output name="copySafariLines_Result" message="tns:copySafariLines_Result" />
    </operation>
    <operation name="createImprestApplicationLines">
      <input name="createImprestApplicationLines" message="tns:createImprestApplicationLines" />
      <output name="createImprestApplicationLines_Result" message="tns:createImprestApplicationLines_Result" />
    </operation>
    <operation name="createImprestRequest">
      <input name="createImprestRequest" message="tns:createImprestRequest" />
      <output name="createImprestRequest_Result" message="tns:createImprestRequest_Result" />
    </operation>
    <operation name="createImprest">
      <input name="createImprest" message="tns:createImprest" />
      <output name="createImprest_Result" message="tns:createImprest_Result" />
    </operation>
    <operation name="createKPILines">
      <input name="createKPILines" message="tns:createKPILines" />
      <output name="createKPILines_Result" message="tns:createKPILines_Result" />
    </operation>
    <operation name="createLeaveApplicationLines">
      <input name="createLeaveApplicationLines" message="tns:createLeaveApplicationLines" />
      <output name="createLeaveApplicationLines_Result" message="tns:createLeaveApplicationLines_Result" />
    </operation>
    <operation name="createLeaveApplication">
      <input name="createLeaveApplication" message="tns:createLeaveApplication" />
      <output name="createLeaveApplication_Result" message="tns:createLeaveApplication_Result" />
    </operation>
    <operation name="createLineManagerEyKPILines">
      <input name="createLineManagerEyKPILines" message="tns:createLineManagerEyKPILines" />
      <output name="createLineManagerEyKPILines_Result" message="tns:createLineManagerEyKPILines_Result" />
    </operation>
    <operation name="createLineManagerMyKPILines">
      <input name="createLineManagerMyKPILines" message="tns:createLineManagerMyKPILines" />
      <output name="createLineManagerMyKPILines_Result" message="tns:createLineManagerMyKPILines_Result" />
    </operation>
    <operation name="createNewKPILines">
      <input name="createNewKPILines" message="tns:createNewKPILines" />
      <output name="createNewKPILines_Result" message="tns:createNewKPILines_Result" />
    </operation>
    <operation name="createSafariRequestEntitlements">
      <input name="createSafariRequestEntitlements" message="tns:createSafariRequestEntitlements" />
      <output name="createSafariRequestEntitlements_Result" message="tns:createSafariRequestEntitlements_Result" />
    </operation>
    <operation name="createSafariRequestHeader">
      <input name="createSafariRequestHeader" message="tns:createSafariRequestHeader" />
      <output name="createSafariRequestHeader_Result" message="tns:createSafariRequestHeader_Result" />
    </operation>
    <operation name="createSafariRequestLines">
      <input name="createSafariRequestLines" message="tns:createSafariRequestLines" />
      <output name="createSafariRequestLines_Result" message="tns:createSafariRequestLines_Result" />
    </operation>
    <operation name="createStaffApplication">
      <input name="createStaffApplication" message="tns:createStaffApplication" />
      <output name="createStaffApplication_Result" message="tns:createStaffApplication_Result" />
    </operation>
    <operation name="createStaffClaimApplicationLines">
      <input name="createStaffClaimApplicationLines" message="tns:createStaffClaimApplicationLines" />
      <output name="createStaffClaimApplicationLines_Result" message="tns:createStaffClaimApplicationLines_Result" />
    </operation>
    <operation name="createStoreRequisitionLine">
      <input name="createStoreRequisitionLine" message="tns:createStoreRequisitionLine" />
      <output name="createStoreRequisitionLine_Result" message="tns:createStoreRequisitionLine_Result" />
    </operation>
    <operation name="createStoreRequisition">
      <input name="createStoreRequisition" message="tns:createStoreRequisition" />
      <output name="createStoreRequisition_Result" message="tns:createStoreRequisition_Result" />
    </operation>
    <operation name="createSurrenderApplicationLines">
      <input name="createSurrenderApplicationLines" message="tns:createSurrenderApplicationLines" />
      <output name="createSurrenderApplicationLines_Result" message="tns:createSurrenderApplicationLines_Result" />
    </operation>
    <operation name="createeyBehaviourLines">
      <input name="createeyBehaviourLines" message="tns:createeyBehaviourLines" />
      <output name="createeyBehaviourLines_Result" message="tns:createeyBehaviourLines_Result" />
    </operation>
    <operation name="createeyKPILines">
      <input name="createeyKPILines" message="tns:createeyKPILines" />
      <output name="createeyKPILines_Result" message="tns:createeyKPILines_Result" />
    </operation>
    <operation name="createeyLineManagerBehaviourLines">
      <input name="createeyLineManagerBehaviourLines" message="tns:createeyLineManagerBehaviourLines" />
      <output name="createeyLineManagerBehaviourLines_Result" message="tns:createeyLineManagerBehaviourLines_Result" />
    </operation>
    <operation name="createmyBehaviourLines">
      <input name="createmyBehaviourLines" message="tns:createmyBehaviourLines" />
      <output name="createmyBehaviourLines_Result" message="tns:createmyBehaviourLines_Result" />
    </operation>
    <operation name="createmyKPILines">
      <input name="createmyKPILines" message="tns:createmyKPILines" />
      <output name="createmyKPILines_Result" message="tns:createmyKPILines_Result" />
    </operation>
    <operation name="createmyLineManagerBehaviourLines">
      <input name="createmyLineManagerBehaviourLines" message="tns:createmyLineManagerBehaviourLines" />
      <output name="createmyLineManagerBehaviourLines_Result" message="tns:createmyLineManagerBehaviourLines_Result" />
    </operation>
    <operation name="deleteImprestApplicationLines">
      <input name="deleteImprestApplicationLines" message="tns:deleteImprestApplicationLines" />
      <output name="deleteImprestApplicationLines_Result" message="tns:deleteImprestApplicationLines_Result" />
    </operation>
    <operation name="deleteLeaveApplicationLines">
      <input name="deleteLeaveApplicationLines" message="tns:deleteLeaveApplicationLines" />
      <output name="deleteLeaveApplicationLines_Result" message="tns:deleteLeaveApplicationLines_Result" />
    </operation>
    <operation name="deleteSafariRequestLines">
      <input name="deleteSafariRequestLines" message="tns:deleteSafariRequestLines" />
      <output name="deleteSafariRequestLines_Result" message="tns:deleteSafariRequestLines_Result" />
    </operation>
    <operation name="deleteStaffCreditSalesLines">
      <input name="deleteStaffCreditSalesLines" message="tns:deleteStaffCreditSalesLines" />
      <output name="deleteStaffCreditSalesLines_Result" message="tns:deleteStaffCreditSalesLines_Result" />
    </operation>
    <operation name="editImprestApplicationLines">
      <input name="editImprestApplicationLines" message="tns:editImprestApplicationLines" />
      <output name="editImprestApplicationLines_Result" message="tns:editImprestApplicationLines_Result" />
    </operation>
    <operation name="editLeaveApplicationLines">
      <input name="editLeaveApplicationLines" message="tns:editLeaveApplicationLines" />
      <output name="editLeaveApplicationLines_Result" message="tns:editLeaveApplicationLines_Result" />
    </operation>
    <operation name="editSafariRequestLines">
      <input name="editSafariRequestLines" message="tns:editSafariRequestLines" />
      <output name="editSafariRequestLines_Result" message="tns:editSafariRequestLines_Result" />
    </operation>
    <operation name="editStaffCreditSalesLines">
      <input name="editStaffCreditSalesLines" message="tns:editStaffCreditSalesLines" />
      <output name="editStaffCreditSalesLines_Result" message="tns:editStaffCreditSalesLines_Result" />
    </operation>
    <operation name="fnCreateSalesCreditHeader">
      <input name="fnCreateSalesCreditHeader" message="tns:fnCreateSalesCreditHeader" />
      <output name="fnCreateSalesCreditHeader_Result" message="tns:fnCreateSalesCreditHeader_Result" />
    </operation>
    <operation name="fnCreateStaffCreditLines">
      <input name="fnCreateStaffCreditLines" message="tns:fnCreateStaffCreditLines" />
      <output name="fnCreateStaffCreditLines_Result" message="tns:fnCreateStaffCreditLines_Result" />
    </operation>
    <operation name="fnGetEmployeeDetail">
      <input name="fnGetEmployeeDetail" message="tns:fnGetEmployeeDetail" />
      <output name="fnGetEmployeeDetail_Result" message="tns:fnGetEmployeeDetail_Result" />
    </operation>
    <operation name="fnStoreRequisitionLines">
      <input name="fnStoreRequisitionLines" message="tns:fnStoreRequisitionLines" />
      <output name="fnStoreRequisitionLines_Result" message="tns:fnStoreRequisitionLines_Result" />
    </operation>
    <operation name="generateP9">
      <input name="generateP9" message="tns:generateP9" />
      <output name="generateP9_Result" message="tns:generateP9_Result" />
    </operation>
    <operation name="generatePayslip">
      <input name="generatePayslip" message="tns:generatePayslip" />
      <output name="generatePayslip_Result" message="tns:generatePayslip_Result" />
    </operation>
    <operation name="sendImprestApplicationApproval">
      <input name="sendImprestApplicationApproval" message="tns:sendImprestApplicationApproval" />
      <output name="sendImprestApplicationApproval_Result" message="tns:sendImprestApplicationApproval_Result" />
    </operation>
    <operation name="sendLeaveApplicationApproval">
      <input name="sendLeaveApplicationApproval" message="tns:sendLeaveApplicationApproval" />
      <output name="sendLeaveApplicationApproval_Result" message="tns:sendLeaveApplicationApproval_Result" />
    </operation>
    <operation name="sendObjectiveSettingsBackToAppraisee">
      <input name="sendObjectiveSettingsBackToAppraisee" message="tns:sendObjectiveSettingsBackToAppraisee" />
      <output name="sendObjectiveSettingsBackToAppraisee_Result" message="tns:sendObjectiveSettingsBackToAppraisee_Result" />
    </operation>
    <operation name="sendObjectiveSettingsToLineManager">
      <input name="sendObjectiveSettingsToLineManager" message="tns:sendObjectiveSettingsToLineManager" />
      <output name="sendObjectiveSettingsToLineManager_Result" message="tns:sendObjectiveSettingsToLineManager_Result" />
    </operation>
    <operation name="sendSafariRequestApplicationApproval">
      <input name="sendSafariRequestApplicationApproval" message="tns:sendSafariRequestApplicationApproval" />
      <output name="sendSafariRequestApplicationApproval_Result" message="tns:sendSafariRequestApplicationApproval_Result" />
    </operation>
    <operation name="sendStaffClaimApplicationApproval">
      <input name="sendStaffClaimApplicationApproval" message="tns:sendStaffClaimApplicationApproval" />
      <output name="sendStaffClaimApplicationApproval_Result" message="tns:sendStaffClaimApplicationApproval_Result" />
    </operation>
    <operation name="sendStaffCreditSaleApproval">
      <input name="sendStaffCreditSaleApproval" message="tns:sendStaffCreditSaleApproval" />
      <output name="sendStaffCreditSaleApproval_Result" message="tns:sendStaffCreditSaleApproval_Result" />
    </operation>
    <operation name="sendSurrenderApplicationApproval">
      <input name="sendSurrenderApplicationApproval" message="tns:sendSurrenderApplicationApproval" />
      <output name="sendSurrenderApplicationApproval_Result" message="tns:sendSurrenderApplicationApproval_Result" />
    </operation>
    <operation name="sendToAppraiseeForAgreement">
      <input name="sendToAppraiseeForAgreement" message="tns:sendToAppraiseeForAgreement" />
      <output name="sendToAppraiseeForAgreement_Result" message="tns:sendToAppraiseeForAgreement_Result" />
    </operation>
    <operation name="updateOverallComments">
      <input name="updateOverallComments" message="tns:updateOverallComments" />
      <output name="updateOverallComments_Result" message="tns:updateOverallComments_Result" />
    </operation>
    <operation name="updateSupervisorOverallComments">
      <input name="updateSupervisorOverallComments" message="tns:updateSupervisorOverallComments" />
      <output name="updateSupervisorOverallComments_Result" message="tns:updateSupervisorOverallComments_Result" />
    </operation>
  </portType>
  <binding name="NewHrPortal_Binding" type="tns:NewHrPortal_Port">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <operation name="CreateSalesOrder">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/NewHrPortal:CreateSalesOrder" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="CreateSalesOrder">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="CreateSalesOrder_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="approveAppraisal">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/NewHrPortal:approveAppraisal" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="approveAppraisal">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="approveAppraisal_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="changePassword">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/NewHrPortal:changePassword" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="changePassword">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="changePassword_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="copySafariLines_1044271612">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/NewHrPortal:copySafariLines_1044271612" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="copySafariLines_1044271612">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="copySafariLines_1044271612_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="copySafariLines">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/NewHrPortal:copySafariLines" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="copySafariLines">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="copySafariLines_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="createImprestApplicationLines">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/NewHrPortal:createImprestApplicationLines" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="createImprestApplicationLines">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="createImprestApplicationLines_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="createImprestRequest">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/NewHrPortal:createImprestRequest" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="createImprestRequest">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="createImprestRequest_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="createImprest">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/NewHrPortal:createImprest" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="createImprest">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="createImprest_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="createKPILines">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/NewHrPortal:createKPILines" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="createKPILines">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="createKPILines_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="createLeaveApplicationLines">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/NewHrPortal:createLeaveApplicationLines" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="createLeaveApplicationLines">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="createLeaveApplicationLines_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="createLeaveApplication">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/NewHrPortal:createLeaveApplication" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="createLeaveApplication">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="createLeaveApplication_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="createLineManagerEyKPILines">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/NewHrPortal:createLineManagerEyKPILines" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="createLineManagerEyKPILines">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="createLineManagerEyKPILines_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="createLineManagerMyKPILines">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/NewHrPortal:createLineManagerMyKPILines" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="createLineManagerMyKPILines">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="createLineManagerMyKPILines_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="createNewKPILines">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/NewHrPortal:createNewKPILines" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="createNewKPILines">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="createNewKPILines_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="createSafariRequestEntitlements">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/NewHrPortal:createSafariRequestEntitlements" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="createSafariRequestEntitlements">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="createSafariRequestEntitlements_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="createSafariRequestHeader">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/NewHrPortal:createSafariRequestHeader" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="createSafariRequestHeader">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="createSafariRequestHeader_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="createSafariRequestLines">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/NewHrPortal:createSafariRequestLines" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="createSafariRequestLines">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="createSafariRequestLines_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="createStaffApplication">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/NewHrPortal:createStaffApplication" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="createStaffApplication">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="createStaffApplication_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="createStaffClaimApplicationLines">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/NewHrPortal:createStaffClaimApplicationLines" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="createStaffClaimApplicationLines">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="createStaffClaimApplicationLines_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="createStoreRequisitionLine">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/NewHrPortal:createStoreRequisitionLine" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="createStoreRequisitionLine">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="createStoreRequisitionLine_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="createStoreRequisition">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/NewHrPortal:createStoreRequisition" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="createStoreRequisition">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="createStoreRequisition_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="createSurrenderApplicationLines">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/NewHrPortal:createSurrenderApplicationLines" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="createSurrenderApplicationLines">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="createSurrenderApplicationLines_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="createeyBehaviourLines">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/NewHrPortal:createeyBehaviourLines" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="createeyBehaviourLines">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="createeyBehaviourLines_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="createeyKPILines">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/NewHrPortal:createeyKPILines" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="createeyKPILines">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="createeyKPILines_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="createeyLineManagerBehaviourLines">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/NewHrPortal:createeyLineManagerBehaviourLines" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="createeyLineManagerBehaviourLines">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="createeyLineManagerBehaviourLines_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="createmyBehaviourLines">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/NewHrPortal:createmyBehaviourLines" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="createmyBehaviourLines">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="createmyBehaviourLines_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="createmyKPILines">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/NewHrPortal:createmyKPILines" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="createmyKPILines">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="createmyKPILines_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="createmyLineManagerBehaviourLines">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/NewHrPortal:createmyLineManagerBehaviourLines" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="createmyLineManagerBehaviourLines">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="createmyLineManagerBehaviourLines_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="deleteImprestApplicationLines">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/NewHrPortal:deleteImprestApplicationLines" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="deleteImprestApplicationLines">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="deleteImprestApplicationLines_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="deleteLeaveApplicationLines">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/NewHrPortal:deleteLeaveApplicationLines" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="deleteLeaveApplicationLines">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="deleteLeaveApplicationLines_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="deleteSafariRequestLines">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/NewHrPortal:deleteSafariRequestLines" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="deleteSafariRequestLines">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="deleteSafariRequestLines_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="deleteStaffCreditSalesLines">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/NewHrPortal:deleteStaffCreditSalesLines" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="deleteStaffCreditSalesLines">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="deleteStaffCreditSalesLines_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="editImprestApplicationLines">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/NewHrPortal:editImprestApplicationLines" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="editImprestApplicationLines">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="editImprestApplicationLines_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="editLeaveApplicationLines">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/NewHrPortal:editLeaveApplicationLines" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="editLeaveApplicationLines">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="editLeaveApplicationLines_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="editSafariRequestLines">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/NewHrPortal:editSafariRequestLines" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="editSafariRequestLines">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="editSafariRequestLines_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="editStaffCreditSalesLines">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/NewHrPortal:editStaffCreditSalesLines" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="editStaffCreditSalesLines">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="editStaffCreditSalesLines_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="fnCreateSalesCreditHeader">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/NewHrPortal:fnCreateSalesCreditHeader" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="fnCreateSalesCreditHeader">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="fnCreateSalesCreditHeader_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="fnCreateStaffCreditLines">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/NewHrPortal:fnCreateStaffCreditLines" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="fnCreateStaffCreditLines">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="fnCreateStaffCreditLines_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="fnGetEmployeeDetail">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/NewHrPortal:fnGetEmployeeDetail" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="fnGetEmployeeDetail">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="fnGetEmployeeDetail_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="fnStoreRequisitionLines">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/NewHrPortal:fnStoreRequisitionLines" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="fnStoreRequisitionLines">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="fnStoreRequisitionLines_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="generateP9">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/NewHrPortal:generateP9" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="generateP9">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="generateP9_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="generatePayslip">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/NewHrPortal:generatePayslip" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="generatePayslip">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="generatePayslip_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="sendImprestApplicationApproval">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/NewHrPortal:sendImprestApplicationApproval" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="sendImprestApplicationApproval">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="sendImprestApplicationApproval_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="sendLeaveApplicationApproval">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/NewHrPortal:sendLeaveApplicationApproval" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="sendLeaveApplicationApproval">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="sendLeaveApplicationApproval_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="sendObjectiveSettingsBackToAppraisee">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/NewHrPortal:sendObjectiveSettingsBackToAppraisee" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="sendObjectiveSettingsBackToAppraisee">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="sendObjectiveSettingsBackToAppraisee_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="sendObjectiveSettingsToLineManager">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/NewHrPortal:sendObjectiveSettingsToLineManager" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="sendObjectiveSettingsToLineManager">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="sendObjectiveSettingsToLineManager_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="sendSafariRequestApplicationApproval">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/NewHrPortal:sendSafariRequestApplicationApproval" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="sendSafariRequestApplicationApproval">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="sendSafariRequestApplicationApproval_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="sendStaffClaimApplicationApproval">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/NewHrPortal:sendStaffClaimApplicationApproval" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="sendStaffClaimApplicationApproval">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="sendStaffClaimApplicationApproval_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="sendStaffCreditSaleApproval">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/NewHrPortal:sendStaffCreditSaleApproval" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="sendStaffCreditSaleApproval">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="sendStaffCreditSaleApproval_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="sendSurrenderApplicationApproval">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/NewHrPortal:sendSurrenderApplicationApproval" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="sendSurrenderApplicationApproval">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="sendSurrenderApplicationApproval_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="sendToAppraiseeForAgreement">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/NewHrPortal:sendToAppraiseeForAgreement" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="sendToAppraiseeForAgreement">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="sendToAppraiseeForAgreement_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="updateOverallComments">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/NewHrPortal:updateOverallComments" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="updateOverallComments">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="updateOverallComments_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="updateSupervisorOverallComments">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/NewHrPortal:updateSupervisorOverallComments" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="updateSupervisorOverallComments">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="updateSupervisorOverallComments_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
  </binding>
  <service name="NewHrPortal">
    <port name="NewHrPortal_Port" binding="tns:NewHrPortal_Binding">
      <address location="http://41.139.199.18:7047/BC220/WS/NCPB/Codeunit/NewHrPortal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </port>
  </service>
</definitions>